*.aux
std-gram.ext
*.idx
*.toc
*.log
*.lof
*.lot
*.out
*.ilg
*.ind
*.tmp
*.gls
*.glo
*.pdf
.DS_Store
*.fdb_latexmk
*.fls
*.xtr
*.xml
*.html
.tags
.tags_sorted_by_file
*.synctex.gz
*.synctex*
_spec*.tex
